.choiceCategory  {
    margin-left: 5vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #D58303;
}

.form-control {
    color: #fff !important;
    background-color: #D58303 !important;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.inputChoice option {
    background-color: #D58303;

}