@import url('https://fonts.googleapis.com/css?family=Oswald:300');

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .footer-style ul {
        flex-direction: column;
    }
    .footer-items {
        text-align: center;
        
    }
    .footer-items a {
        font-size: 19px;
    }
}

.footer-style {
    background-color: #D58303;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0
}

.footer-style ul {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
}

.footer-items {
    font-size: 20px;
    list-style-type: none;
}

.footer-items a {
    color: #222222 !important;
    text-decoration: unset !important;
    font-family: 'Oswald', sans-serif;
}

.footer-items:visited {
    color: #fff;
    text-decoration: unset !important;
}

.active {
    color: #fff;
}

